<div class="row">
    <div class="col">
        <h6>Count</h6>
        <% let path = page.path + "#" + "leancloud_visitors"; %>
        <span id="<%- path %>" class="leancloud_visitors" data-flag-title="Your Article Title">
            <em class="post-meta-item-text">阅读量 </em>
            <i class="leancloud-visitors-count">1000000</i>
        </span>
    </div>
</div>