.prism-copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.197);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

pre:hover .prism-copy-btn {
  opacity: 1;
}

.prism-copy-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.prism-copy-btn:active {
  background: rgba(0, 0, 0, 0.3);
}