name: Deploy Hexo Blog

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Hexo
        run: npm install -g hexo-cli

      - name: Install dependencies and generate site
        run: |
          npm install
          npx hexo generate

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/code/hexo-blog
            git fetch origin main
            git reset --hard origin/main
            bun install
            npx hexo clean
            npx hexo g
            sudo rm -rf /var/www/blog/*
            sudo cp -r /root/code/hexo-blog/public/* /var/www/blog/
            sudo systemctl reload nginx
