name: Deploy Hexo Blog

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/code/blog
            git fetch origin deploy
            git reset --hard origin/deploy
            git switch origin/deploy --detach
            sudo rm -rf /opt/1panel/www/sites/quhou.top/index/*
            sudo cp -r /root/code/blog/* /opt/1panel/www/sites/quhou.top/index/
