name: Deploy Hexo Blog

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/code/blog
            git fetch origin main
            git reset --hard origin/main
            bun install
            npm run build
            sudo rsync -av --delete /root/code/blog/public/ /opt/1panel/www/sites/quhou.top/index/
